@import url('https://fonts.googleapis.com/css?family=Oxygen');

html, body {
  font-family: 'Oxygen', sans-serif;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

#share-buttons {
    margin-top: .5rem;
    padding-bottom: 2rem;
    float: right;
}

.col-sm-4 {
    padding-top: 20px;
}

.container {
    max-width: 970px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */

/*
.jumbotron {
    background-color: none;
    background-image: url('../img/1.jpg');
    background-position: center;
    background-size: cover;
}
*/

/*

.col-sm-12 {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}
*/
