@import url('https://fonts.googleapis.com/css?family=Oxygen');
html,
body {
    font-family: 'Oxygen', sans-serif;
}

* {
    transition: all 0.2s ease;
}

.col-sm-4 {
    padding-top: 20px;
}

.container {
    max-width: 970px;
}

footer {
    background-color: #333;
    height: 100px;
    padding: 20px;
}

footer>* {
    color: white;
}

footer a {
    color: white;
}

a {
    color: #324049;
}

a:hover {
    text-decoration: none;
    color: #d32730;
}

.jumbotron-fluid {
    background-image: url(../img/8.jpg);
    background-size: cover;
    background-color: none;
    background-position: center center;
    height: 300px;
}

.jumbotron-fluid h1.display-3 a {
    color: white;
}

.col-md-6,
.col-lg-4 {
    margin-bottom: 30px;
}

.categories {
    background-color: #333;
    padding: 10px;
}

.categories>img {
    width: 80px;
}

.categories h2 {
    color: white;
}


/* categories */

.jumbotron.category {
    height: 400px;
}

.jumbotron.category#smarthus {
    background-image: url(../img/smarthusbg.jpg);
}

.jumbotron.category#varmelosninger {
    background-image: url(../img/varmelosningerbg.jpg);
}

.jumbotron.category#varmestyring {
    background-image: url(../img/varmestyringbg.jpg);
}

.jumbotron.category>* {
    text-transform: uppercase;
}

.category {
    text-align: center;
}

.headericon {
    width: 100px;
}

.icon {
    width: 100px;
    background-color: #333;
    border-radius: 50%;
    margin: 10px auto 10px auto;
    text-align: center;
    display: block;
}


/* subcategory */

.subcategory {
    display: inline-block;
    width: 30%;
    margin: 1%;
    padding: 10px;
    background-color: #333;
}

.subcategory>* {
    color: white;
    text-align: center;
}

.subcategory>img {
    width: 80px;
    margin: auto;
    display: block;
}

.subcategory:hover {
    background-color: #d32730;
}

.subcategory h2 {
    font-size: 20px;
}


/* small breakpoint */

@media (max-width: 767px) {
    .subcategory {
        display: block;
        width: 100%;
    }
}