@import url('https://fonts.googleapis.com/css?family=Oxygen|Source+Sans+Pro');
html,
body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4{
    font-family: 'Oxygen', sans-serif;
}
h4 {
    font-weight: 800;
}

* {
    transition: all 0.2s ease;
}

.col-sm-4 {
    padding-top: 20px;
}

.container {
    max-width: 970px;
}

footer {
    background-color: #333;
    height: 100px;
    padding: 20px;
}

footer>* {
    color: white;
}

footer a {
    color: white;
}

a {
    color: #324049;
}

a:hover {
    text-decoration: none;
    color: #d32730;
}

.jumbotron h1 {
    text-shadow: 1px 1px #333;
}

.navbar-brand img {
    height: 50px;
}

.jumbotron {
    background-position: center;
}

.jumbotron-fluid {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-color: none;
    background-position: center;
    height: 450px;
}


.jumbotron-fluid h1.display-3  {
    margin-top: 100px;
}

.jumbotron-fluid h1.display-3 a {
    color: white;
}

.col-md-6,
.col-lg-4 {
    margin-bottom: 30px;
}

.categories {
    background-color: #333;
    padding: 10px;
}

.categories>img {
    width: 80px;
}

.categories h2 {
    color: white;
}


/* categories */

.jumbotron.category {
    height: 400px;
}

.jumbotron.category#smarthus {
    background-image: url(../img/smarthusbg.jpg);
}

.jumbotron.category#varmelosninger {
    background-image: url(../img/varmelosningerbg.jpg);
}

.jumbotron.category#varmestyring {
    background-image: url(../img/varmestyringbg.jpg);
}

.jumbotron.category>* {
    text-transform: uppercase;
}

.category {
    text-align: center;
}

.headericon {
    width: 100px;
}

.icon {
    width: 100px;
    background-color: #333;
    border-radius: 50%;
    margin: 10px auto 10px auto;
    text-align: center;
    display: block;
}


/* subcategory */

.subcategory {
    display: inline-block;
    width: 30%;
    margin: 1%;
    padding: 10px;
    background-color: #333;
}

.subcategory>* {
    color: white;
    text-align: center;
}

.subcategory>img {
    width: 80px;
    margin: auto;
    display: block;
}

.subcategory:hover {
    background-color: #d32730;
}

.subcategory h2 {
    font-size: 20px;
}

.map {
    min-width: 500px;
    min-height: 350px;
    width: 180%;
    height: 100%;
}

ul.a {
    list-style-type: none;
}

li.a {
    list-style-type: none;
}

li {
    font-weight: 800; 
    font-size: 108%;
}


/* produktkatalog */

.produktkatalog {
    width: 100%;
    height: 320px;
    padding: 20px;
    background-image: url(../img/bg.jpg);
    position: relative;
}

.produktwrap {
    max-width: 960px;
    position: relative;
    margin: auto;
}

.produktkatalog img {
    height: 290px;
}

.text-wrap {
    position: absolute;
    height: 290px;
    display: table;
    top: 0;
    right: 0;
    width: 60%;
}

.produktkatalog h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}


/* small breakpoint */

@media (max-width: 767px) {
    .subcategory {
        display: block;
        width: 100%;
    }
}